.head{
  padding-top: 300px;
  float: left;
  text-align: left;
}
.head h1{
  font-size: 50px;
}
.event-e2{
  text-align: center;
  padding-top: 100px ;
  padding-bottom: 10px;
}
.event-e2{
  padding: 30px;
}
.event-e4 .col-2{
  text-align: center;
}
.event-e4 .content span{
  float: right;
  position: absolute;
  top: 0;
  right:0;
  background-color: white;
  color: black;
  padding: 30px 30px;
}

.event-e3{
  margin-bottom: 40px;
}
.content{
  padding: 0 20px;
  margin: 0;
}

.content ul{
  padding: 0;
  margin: 0;
}
.content a{
  color: #19CBE4;
  margin-top: 30px;
}
.content p:first-child{
  color: #19CBE4;
}
.event-e3 .content span{
  float: right;
  position: absolute;
  top:0;
  right:0;
  padding: 30px 30px;
  background-color: white;
  color: black;
}
.event-e3 .col-4{
  position: relative;
}
.event-e4 .col-4{
  position: relative;
}
.event-e5 img {
  padding : 20px 0px  ;
  width: 50%;
}
.event-body .line{
  position: relative;
  left: 46%;
  right: auto;
  width: 20px;
}
.event-body p:first-child{
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.event-body h1{
  font-weight: 600;
  color: black;
}
.event-body{
  text-align: center;
}
.event{
  color: #fafafa;
  height: 500px;
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/images/axolotl-070026.jpg");
}

.over-lay{
  background-image: linear-gradient(180deg, #02010124 0%, #01060C 95%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #082441;
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.date{
  right: 0;
  position: absolute;
  right: 0;
  padding: 20px;
}
.date h6{
  color: black;
  font-weight: 600;
  display: inline-block;
  font-size: 15px;
}
.date p{
  color: black;
  background-color: white;
  font-weight: 600;

}
.title{
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 30px;
}
.title p{
  margin: 10px 0;
  color: white;
  font-size: 14px;
}
.title p:first-child{
  font-weight: 600;
  color: #19CBE4;
}
.title a{
  color: #19CBE4;
  font-weight: 600;
  position: relative;
  top: 0;
  transition: top 0.3s;
}
.title h3{
  color: white;
  font-weight: 600;
}
.img7{
  position: relative;
  height:500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover ;
}
.img7 h3{
  text-transform: uppercase;
}
.img7 img{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.head i{
  color: #19CBE4;
}
.head .line{
  background-color: #19CBE4;
  width: 80px;
  height: 1px;
  margin-bottom:13px;
}.event-e2 .line{
   background-color: #19CBE4;
   width: 80px;
   height: 1px;
   margin-bottom:13px;
   position: relative;
   left: 47%;
   right: auto;
 }
.body1 .line{
  background-color: #19CBE4;
  width: 80px;
  height: 1px;
  margin-bottom:13px;
  position: relative;
  left: 40%;
  right: auto;
}
.col-5 .line{
  background-color: #19CBE4;
  width: 80px;
  height: 1px;
  margin-bottom:13px;
  position: relative;
  left: 40%;
  right: auto;
}
.col-5{
  color: white;
  padding:0px;
}
.event-e3 .content {
  box-sizing: border-box;
  margin-top: 10px;
  color:white;
  display: flex;
  align-items: self-end;
  text-align: left;
}
.event-e4 .content {

  box-sizing: border-box;
  margin-top: 10px;
  color:white;
  display: flex;
  align-items: self-end;
  text-align: left;
}
.backer{
  padding: 20px 0px;
  color: black;
  width: 30%;
  background-color: #19CBE4;
}
.backer:hover span{
  color: #19CBE4;
}
.backer:hover{
  background-color: #2c2c2c;
}
.col-5 .backer {
  color: #2c2c2c;
  margin-top: 20px;
  text-align: center;
}
.col-7{
  background-color: #1d252b;
  color: white;
  padding: 0px;
}
.col-7 .col-4{
  padding: 10px;
}
.col-7 .col-4 p{
  color: #19CBE4;
}
.col-7 .line{
  background-color: #19CBE4;
  width: 80px;
  height: 1px;
  margin-bottom:13px;
  position: relative;
  left: 45%;
  right: auto;
}
.event-e7 ul li{
  text-align: center;
}
.section-e7 .col-5{
  position: relative;
  background-image: url("../../assets/images/coral-reef-colony-in-red-sea-in-egypt-e1628655283610.jpg");
}
.main-event{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 91.15px;
  text-align: left;
}
.over-lay-one{
  background-color: #082441;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.main-event h5{
  color: #FFFFFF;
}
.main-event h1{
  color: #FFFFFF;
  font-weight: 800;
  padding-top: 23px;
}
.main-event h4{
  color: #FFFFFF;
  padding-top: 10px;
}
.main-event p{
  color: #19cbe4;
}
.Floral-Coral h6{
  color: #FFFFFF;
  padding-top: 10px;
}
.book-now >button{
  margin-top: 70px;
  padding: 19px 45px;
  font-weight: 800;
  background: #19cbe4;
  border:none;
}
.book-now >button:hover{
  background: #1d252b;
  color: #19cbe4;
}
.Aquavist-Events{
  padding: 91.15px;
  background-color: #1d252b;
  width: 100%;
  margin-left: -24px;
  text-align: initial;

}
.Aquavist-Events h5{
  color: #FFFFFF;
}
.Aquavist-Events h1{
  color: #FFFFFF;
  font-weight: 800;
  padding-top: 23px;
  margin-bottom: 40px;
}

.images-one{
  background-image: url("../../assets/images/aquarium-tank-1-e1628655247905.jpg");
  width: 150px;
  height: 243.06px;
}

.sold-out >button{
  padding: 20px 45px;
  background: #C4C4C4;
  color: #747474;
  border: none;
  display: flex;
  align-items: center;
}
.card-e5{
  background-color: #283d3e;
  padding-bottom: 21px;

}
.card-e6{
  margin-top: 25px;
}
.Pacific-Ocean{
  padding: 0px 0px 0px 50px ;

}
.Pacific-Ocean h5{
  font-weight: 800;
  margin-top: 15px;

}
.card-e5 >.row{
  height: 100%;
  align-items: center;
}
.Pacific-Ocean h6{
  color: #19cbe4;
}
.Floral-Coral h6{
  color: #FFFFFF;
  padding-top: 10px;
}
.book-now >button{
  margin-top: 70px;
  padding: 19px 45px;
  font-weight: 800;
  background: #19cbe4;
  border:none;
}
.book-now >button:hover{
  background: #1d252b;
  color: #19cbe4;
}
.Aquavist-Events .col-4{
  padding: 0;
}
.Aquavist-Events >row{
  height: 100%;
  align-items: center;
}
.sold-out >button{
  padding: 20px 45px;
  background: #C4C4C4;
  color: #747474;
  border: none;
  display: flex;
  align-items: center;
}
.sold-out-one >button{
  background: #19cbe4;
  color: black;
  border: none;
  margin-top: 26px;
  padding: 20px 45px;
  font-size: 20px;
  font-weight: 600;
}
.sold-out-one a{
  color: black;
}
 button:hover a{
  color: #19CBE4;
}
.sold-out-one >button:hover{
  background: #1D252B;
  color: #19CBE4;
}
.card-e6{
  margin-top: 25px;
  margin-bottom: 25px;
}
.card-e6:hover{
  background-color: #283d3e;
}
.card-e7:hover{
  background-color: #283d3e;
}

.Pricing-Plan{
  margin: 0px 30px 0px 0px;
  padding: 10px;
  padding-top: 111px;
  text-align: initial;
  color: #1d252b;
}
.Pricing-Plan h6{
  font-weight: 800;
}
.Pricing-Plan h1{
  padding-top: 28px;
  font-weight: 800;
  padding-bottom: 15px;
}
.Pricing-Plan .Pricing{
  font-weight: 100;
  padding-bottom: 26px;
}
.ngang{
  background: #19cbe4;
  height: 1px;
  width: 48px;
  margin-top: 22px
}
.family-one{
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #EAEAEA;
  box-shadow: 0px 0px 15px 0px rgb(90 90 90 / 10%);
  text-align: initial;
}
.section-e6{
  margin-top: 150px;
}
.family{
  background: #1d252b;
  margin: 0px 0px 30px;
  padding: 45px 40px 30px;
  text-align: initial;
}
.family h4{
  color: #FFFFFF;
  font-weight: 900
}
.family h1{
  color: white;
  font-weight: 600;
}
.family-one  h1{
  color: black;
  padding-top: 7px;
  font-weight: 800;
}
.p{
  color: white;
}
.visit p{
  color: #19cbe4;
}
.purchase-now >button{
  padding: 18px 84px;
  background: #19cbe4;
  border: none;
  margin-top: -4px;
  font-weight: 800;
}
.purchase-now:hover a{
  color: black;
}
.purchase-now a{
  color: black;
}
.visit{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.purchase-now >button{
  padding: 18px 84px;
  background: #19cbe4;
  border: none;
  margin-top: -4px;
  font-weight: 800;
}
.lein{
  height: 1px;
  width: 100%;
  background: #4e5459;
  margin-top: 28px;
}
.Chevron-double-right{
  padding-top: 23px;
}
.Chevron-double-right ul li {
  padding-top: 13px;
  color: #FFFFFF;
}
.Chevron-double-right i{
  color: #19cbe4;
  margin-left: -32px;
}
.family-one{
  margin: 30px 0px 0px ;
  padding: 45px 40px 40px;
}
.family-one h4{
  color: black;
  font-weight: 900
}
.visit-one h1{
  color: black;
  padding-top: 7px;
  font-weight: 800;
}
.visit-one p{
  color: #19cbe4;
}
.purchase-now-one >button{
  padding: 18px 84px;
  background: #19cbe4;
  border: none;
  margin-top: -4px;
}
.purchase-now-one a{
  color: black;
}
.purchase-now-one:hover a{
  color: #19CBE4;
}
.Chevron-double-right-one{
  padding-top: 23px;
}
.Chevron-double-right-one ul li {
  padding-top: 13px;
  color: #7f7f7f;

}
.Chevron-double-right-one i{
  color: #19cbe4;
  margin-left: -32px;
}
.p-one{
  color: black;
  margin-left: 11px;
  padding-top: 30px;
}

.purchase-now-one >button:hover{
  background: #1d252b;
  color: #19cbe4;
}

.purchase-now-one >button{
  font-weight: 800;
}
.p-one{
  color: #FFFFFF;
  margin-left: 11px;
  padding-top: 30px;
}
.Pricing-Plan{
  margin: 0px 30px 0px 0px;
  padding: 10px;
  padding-top: 111px;
  text-align: initial;
  color: #1d252b;
}
.Pricing-Plan h6{
  font-weight: 800;
}
.Pricing-Plan h1{
  padding-top: 28px;
  font-weight: 800;
  padding-bottom: 15px;
}
.Pricing-Plan .Pricing{
  font-weight: 100;
  padding-bottom: 26px;
}
.all >button{
  padding: 20px 45px;
  border: none;
  background: #19cbe4;
  font-weight: 800;
}
.all >button:hover{
  background: black;
  color: #19cbe4;
}
.slider-categories{
  box-sizing: border-box;
}
.slider-categories ul{
  padding: 0;
}
.slider-categories li{
  padding-top: 20px;
}
.slider-categories img{
  width: 50%;
}
.slider-categories h5{
  color: black;
  font-weight: 600;
}
