<section class="section mb-5" >
  <img [src]="animals.banner" alt="">
<!--  <div class="over-lay"></div>-->
  <div class="head ">
    <h1>{{animals.name}}</h1>
    <div class="nav">
      <p>Home</p>
      <i class="bi bi-chevron-double-right"></i>
      <p>All Animal</p>
      <i class="bi bi-chevron-double-right"></i>
      <p>{{animals.name}}</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <h5>ANIMAL GUIDE</h5>
      <div class="line"></div>
      <p>{{animals.content}}</p>
    </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="info">
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <h6>Size</h6>
          <p>{{animals.size}}</p>
        </div>
      </div>
      <div class="col-3">
        <div class="info">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h6>DIET</h6>
          <p>{{animals.diet}} </p>
        </div>
      </div>
      <div class="col-3">
        <div class="info">
          <i class="bi bi-globe-americas"></i>
          <h6>RANGE</h6>
          <p>{{animals.location}} </p>
        </div>
      </div>
      <div class="col-3">
        <div class="info">
          <i class="bi bi-house"></i>
          <h6>HABITAT</h6>
          <p>{{animals.habitat}} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <h1>Physical Characteristics</h1>
      <p>{{animals.Physical}}</p>
    </div>
  </div>
</section>
