

.container{
  float: none;
  margin: 0 auto;
}

.slider{
  background-image: url("../../assets/images/water-e1628655192635.jpg");
  height: 648px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 166px;
  padding-right: 1023px;
}
.ngang1{
  background: #19cbe4;
  height: 2px;
  width: 48px;
  margin-top: 22px;
  margin-left: 33px;
}
.bi-chevron-double-right{
  color: #19CBE4;
}

.about{
  color: #fafafa;
  padding-left: 25px;
}
.Home{
  color: #fafafa;
  margin-top: -35px;

}
.about h1{
  font-size: 55px;
}
.conten{
  position: absolute;
  left: 10%;
  top: 40%;

}
.Home{
  padding-top: 61px;
}
.beautiful{
  color: #1d252b;
  font-weight: 900;
}
.Lorem-ipsum{
  color: #1d252b;
  font-weight: 300;
}
.card-e9 h5{
  color: #1d252b;
}
.About-Aquavist{
  margin-top: 100px;
}
.ngang{
  background: #19cbe4;
  height: 1px;
  width: 48px;
  margin-top: 22px;
}
.We-Are{
  margin-top: 22px;
}
.Lorem-ipsum{
  margin-top: 22px;
  font-weight: 200;
  font-size: 16px;
}
.dat{
  margin-top: 35px;
}
.check-lg{
  padding-top: 10px;
}
.Tempo{
  padding-left: 28px;

}
.check-lg{
  margin-left: -36px;
}
.check-lg ul li {
  padding-top: 6px;
  color: #1d252b;
}
.check-lg i{
  color: #19cbe4;
  padding-right: 10px;
}
.read-more bg-black{
  margin-top: 10px;
}
.read-more bg-black btn btn-primary{
  margin-top: 50px;
}
.read-more{
  margin-top: 5px;
  margin-left: -36px;
  display: inline-block;
}


.read-more >button{
  padding: 20px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: #19cbe4;
  margin-left: 33px;
}
.read-more >button:hover{
  background: black;
  color: #19cbe4;
}
.images img{
  height: 375px;
  width: 100%;
}
.quetes{
  padding: 47px;
  text-align: left;
  background-color: #1d252b;
  color: #fafafa;
}
.Teddy-Saunders{
  padding-top: 41px;
  padding-right: 90px;

}
.Teddy-Saunders h5{
  font-weight: 600;

}
.lorem{
  box-sizing: border-box;
}
.ceo{
  color: #19cbe4;
  padding-right: 40px;
}

.card-e9{

  text-align: initial;
}


.section-e3{
  margin-top: 120px;
  padding-bottom: 120px;
}

.our-Services{
  text-align: initial;
}


.card-e3{
  padding: 25px 20px 25px 20px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.section-e3 .card-e3:first-child{
  background-color: #19cbe4;

}
.section-e3 .card-e3:first-child a{
  color: black;
}
.section-e3 .card-e3:first-child i{
  color:#1D252B;
}
.section-e3 .card-e3:last-child{
  background-color: #1D252B;
}
.section-e3 .card-e3:last-child h4 {
  color: #fafafa;
}
.section-e3 .card-e3:last-child p {
  color: #fafafa;
}

.card-e3 .icon i{
  display: flex;
  align-content: center;
  align-items: flex-start;
  font-size: 50px;
  color: #19cbe4;
}
.card-e3 .icon i:hover{
  position: relative;
  bottom: 10px;
}

.card-e3 h4{
  font-weight: 600;
}
.card-e3 p{
  margin-top: 19px;
  font-weight: 500;
}
.card-e3 a{
  color: #19cbe4;
  font-weight: 600;
}
.card-e3 a:hover{
  color:#1D252B ;
}
.section-e3 .card-e3:first-child:hover {
  background-color: #1d252b;
  color: #fafafa;
}
.section-e3 .card-e3:first-child:hover a{
  color: #19cbe4;
}
.section-e3 .card-e3:first-child:hover i{
  color: #19cbe4;
}
.section-e3 .card-e3:first-child:hover h4{
  color: white;
}
.section-e3 .card-e3:first-child:hover p{
  color: white;
}
.section-e3 .card-e3:last-child:hover {
  background-color: #19cbe4;
}
.section-e3 .card-e3:last-child:hover h4{
  color: #1D252B;
}
.section-e3 .card-e3:last-child:hover p{
  color: #1D252B;
}
.section-e3 .card-e3:last-child:hover a{
  color: #1D252B;
}
.section-e3 .card-e3:last-child:hover i{
  color:#1D252B;
}
.Design-Install{
  text-align: left;
  padding-left: 5px;
}
.Design-Install > h4{
  color: black;

}
.Design-Install p{
  color: black;
  padding-bottom: 10px;
}
.ngang-one{
  background: #19cbe4;
  height: 2px;
  width: 48px;
}
.our-Services{
  padding: 10px;
  align-content: center;
  align-items: center;
  color: #1d252b;

}
.our-Services h5{
  padding-bottom: 10px;
  font-weight: 500;
}
.our-Services h1{
  padding-top: 41px;
  padding-bottom: 20px;
  font-weight: 700;
}
.our-Services h6{
  font-weight: 100;
}
.section-e4{
  background-image: url("../../assets/images/aquarium-tank-e1628655236207.jpg");
  padding: 100px 0px 0px 0px;
  position: relative;
}
.Aquavist-Experiences{
  text-align: center;
}
.over-lay{
  background-color: #082441;
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.Completed-Project {
  color:#FFFFFF;
}
.Aquavist-Experiences{
  color: #FFFFFF;
}
.section-e4 .container{
  position: relative;
}
.section-e4{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.section-e5{
  position: absolute;
  bottom: -120px;

}
.section-e5 p{
  font-size: 14px ;
}

.ngang-true{
  background: #19cbe4;
  height: 2px;
  width: 42px;
  position: relative;
  left: 47%;
  margin-top: 15px;
}
.Aquavist-Experiences h1{
  font-weight: 700;
  padding-bottom: 50px;
}
.Completed-Project h6{
  font-weight: 900;
}
.ngang-true{
  margin-bottom: 26px;
}
.Aquavist-Experiences{
  padding-bottom: 205px;
}
.dat1{
  height: 3px;
  width: 99%;
  background-color: #19CBE4;
}
.dat2{
  height: 3px;
  width: 85%;
  background-color: #19CBE4;
}
.dat3{
  height: 3px;
  width: 92%;
  background-color: #19CBE4;
}
.dat4{
  height: 3px;
  width: 95%;
  background-color: #19CBE4;
}
.dat5{
  height: 3px;
  width: 89%;
  background-color: #19CBE4;
}
.dat6{
  height: 3px;
  width: 80%;
  background-color: #19CBE4;
}
.Completed-Project{
  margin-top: 20px;
}




.section-e5 .card-e4:first-child{
  background-color: #19cbe4;
  padding: 40px;
}
.section-e5 .card-e4:first-child:hover .read-more-true {
  position: relative;
  top: 10px;
}
.read-more-true h6{
  margin-top: 28px;
  font-weight: 900;
}
.section-e5 .card-e4:last-child h4{
  color: #FFFFFF;
}
.section-e5 .card-e4:last-child .Sept{
  color: #19cbe4;
}
.section-e5 .card-e4:last-child .the-sea p{
  color: #FFFFFF;
  font-weight: 100;
}
.section-e5 .card-e4:last-child{
  background-color: #1d252b;
  padding: 40px;

}
.section-e5 .card-e4:last-child .read-more-true h6{
  color: #19cbe4;
}
.section-e5 .card-e4:last-child:hover .read-more-true h6{
  position: relative;
  top: 10px;
}
.card-e4 h4{
  font-weight: 900;
}
.card-e4{
  text-align: initial;
  color: #1d252b;
}
.Aqua-Vino{
  padding: 40px;
  background-color: #FFFFFF;
  text-align: initial;
}
.Aqua-Vino h4{
  font-weight: 900;
  color: #1d252b;

}
.Aqua-Vino .Oct{
  color: #19cbe4;

}

.read-more-thuer h6{
  margin-top: 28px;
  font-weight: 900;
  color: #19cbe4;
}
.read-more-thuer h6:hover{
  position: relative;
  top: 10px;
}
.the-sea-one h6{
  font-weight: 100;
}



.Pricing-Plan{
  margin: 0px 30px 0px 0px;
  padding: 10px;
  padding-top: 111px;
  text-align: initial;
  color: #1d252b;
}
.Pricing-Plan h6{
  font-weight: 800;
}
.Pricing-Plan h1{
  padding-top: 28px;
  font-weight: 800;
  padding-bottom: 15px;
}
.Pricing-Plan .Pricing{
  font-weight: 100;
  padding-bottom: 26px;
}
.all >button{
  padding: 20px 45px;
  border: none;
  background: #19cbe4;
  font-weight: 800;
}
.all >button:hover{
  background: black;
  color: #19cbe4;
}







.family-one{
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #EAEAEA;
  box-shadow: 0px 0px 15px 0px rgb(90 90 90 / 10%);
  text-align: initial;
}
.section-e6{
  margin-bottom: 150px;
}
.family{
  background: #1d252b;
  margin: 0px 0px 30px;
  padding: 45px 40px 30px;
  text-align: initial;
}
.family h4{
  color: #FFFFFF;
  font-weight: 900
}
.visit h1{
  color: #FFFFFF;
  padding-top: 7px;
  font-weight: 800;
}
.visit p{
  color: #19cbe4;
}
.purchase-now >button{
  padding: 18px 84px;
  background: #19cbe4;
  border: none;
  margin-top: -4px;
  font-weight: 800;
}
.visit{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.family-one h1{
  color:#1d252b;
}

.lein{
  height: 1px;
  width: 100%;
  background: #4e5459;
  margin-top: 28px;
}
.Chevron-double-right{
  padding-top: 23px;
}
.Chevron-double-right ul li {
  padding-top: 13px;
  color: #FFFFFF;
}
.Chevron-double-right i{
  color: #19cbe4;
  margin-left: -32px;
}
.p{
  color: #FFFFFF;
  margin-left: 11px;
  padding-top: 30px;
}


.section-e6{
  margin-top: 200px;
}

.family-one{
  margin: 30px 0px 0px ;
  padding: 45px 40px 40px;
}
.family-one h4{
  color: black;
  font-weight: 900
}
.visit-one h1{
  color: black;
  padding-top: 7px;
  font-weight: 800;
}
.visit-one p{
  color: #19cbe4;
}
.purchase-now-one >button{
  padding: 18px 84px;
  background: #19cbe4;
  border: none;
  margin-top: -4px;
}


.Chevron-double-right-one{
  padding-top: 23px;
}
.Chevron-double-right-one ul li {
  padding-top: 13px;
  color: #7f7f7f;

}
.Chevron-double-right-one i{
  color: #19cbe4;
  margin-left: -32px;
}
.p-one{
  color: #FFFFFF;
  margin-left: 11px;
  padding-top: 30px;
}

.purchase-now-one >button:hover{
  background: #1d252b;
  color: #19cbe4;
}

.purchase-now-one >button{
  font-weight: 800;
}
.section-e7 .col-5{
  position: relative;
  background-image: url("../../assets/images/coral-reef-colony-in-red-sea-in-egypt-e1628655283610.jpg");
}
.main-event{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 91.15px;
  text-align: left;
}
.over-lay-one{
  background-color: #082441;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.main-event h5{
  color: #FFFFFF;
}
.main-event h1{
  color: #FFFFFF;
  font-weight: 800;
  padding-top: 23px;
}
.main-event h4{
  color: #FFFFFF;
  padding-top: 10px;
}
.main-event p{
  color: #19cbe4;
}
.Floral-Coral h6{
  color: #FFFFFF;
  padding-top: 10px;
}
.book-now >button{
  margin-top: 70px;
  padding: 19px 45px;
  font-weight: 800;
  background: #19cbe4;
  border:none;
}
.book-now >button:hover{
  background: #1d252b;
  color: #19cbe4;
}
.Aquavist-Events{
  padding: 91.15px;
  background-color: #1d252b;
  width: 100%;
  margin-left: -24px;
  text-align: initial;

}
.Aquavist-Events h5{
  color: #FFFFFF;
}
.Aquavist-Events h1{
  color: #FFFFFF;
  font-weight: 800;
  padding-top: 23px;
  margin-bottom: 40px;
}

.images-one{
  background-image: url("../../assets/images/aquarium-tank-1-e1628655247905.jpg");
  width: 150px;
  height: 243.06px;
}
.Client-Inquries{
  margin: 0px 50px 0px 0px ;
  padding: 10px;
}
.Client-Inquries h6{
  font-weight: 600;
  color: #1d252b;
}
.Client-Inquries h1{
  font-weight: 800;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #1d252b;
}
.Client-Inquries p{
  padding-bottom: 13px;
  font-weight: 100;
  color: #1d252b;
}
.opening .title{
  padding-left: 23px;
  color: #1D252B;
  color: #1D252B;
  background-color: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  padding: 18px 18px 18px 30px;
  font-weight: 800;
}
.opening ul li{
  margin-top: 20px;
  margin-right: 10px;
}
.opening i{
  color: #1D252B;
  font-weight: 800;

}
.images-true{
  background-image: url("../../assets/images/aquarium-2-e1628655297830.jpg");
  width: 100%;
  height: 450px;
}
.title a{
  margin-left: 20px;
}
.opening ul{
  padding: 0px;
}
.Pacific-Ocean{
  padding: 0px 0px 0px 50px ;

}
.Pacific-Ocean h5{
  font-weight: 800;
  margin-top: 15px;

}
.Pacific-Ocean h6{
  color: #19cbe4;
}

.sold-out >a{
  padding: 20px 45px;
  background: #C4C4C4;
  color: #747474;
  border: none;
  display: flex;
  align-items: center;
}

.card-e5{
  background-color: #283d3e;
  padding-bottom: 21px;

}
.card-e6{
  margin-top: 25px;
}


.card-e7:hover{
  background-color: #283d3e;
}
.card-e6:hover{
  background-color: #283d3e;
}
.sold-out-one >a{
  background: #19cbe4;
  font-weight: 600;
  border: none;
  margin-top: 26px;
  padding: 20px 45px;
  color: black;
}
.sold-out-one >a:hover{
  background: #1D252B;
  color: #19CBE4;
}
.card-e8{
  margin-top: 25px;
}
.Aquavist-Events .col-4{
  padding: 0px;
}
.Aquavist-Events .col-8{
  padding: 0px;
}
.Aquavist-Events > .row .row{
  height: 100%;
  align-items: center;
}
.dung{
  display: flex;
  position: relative;
}
.dung p{
  right: 0px;
  position: absolute;
  font-weight: 600;
}
.dat-one{
  height: 1.5px;
  width: 99px;
  color: #19cbe4;
}
.Client-Inquries{
  text-align: initial;
}
.section-e8{
  padding-top: 100px;
}
.Client-Inquries >button:focus{
  background-color: black;
  color: #19CBE4;
}
button{
  border: none;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  background-color: white;
}
.menu-toggler span{
  padding-left: 10px;

}
.menu-toggler{
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: black;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  padding: 10px 30px;
  margin-bottom: 10px;
}
.menu{
  text-align: left;
  padding: 18px 50px 10px 36px;
}
.all a{
  color: black;
}
.all:hover a{
  color: #19CBE4;
}
.all-1 a{
  color: black;
}
