
<main class="section-main">

  <div class="slider">
    <div class="conten">
      <div class="about">
        <h1>About</h1>
      </div>
      <div class="ngang1"></div>
      <div class="Home">
        <p>Home  <i class="bi bi-chevron-double-right"></i> About</p>
      </div>
    </div>
  </div>
</main>

<section class="About-Aquavist">
  <div class="container">
    <div class="row">
      <div class="col-8 card-e9">

        <h5>About Aquavist</h5>
        <div class="ngang"></div>
        <div class="We-Are">
          <h1 class="beautiful">We Are Ready To Pamper You <br>
            With A More Beautiful Aquarium</h1>
          <p class="Lorem-ipsum">Aquariums can help. More than merely animal viewing areas,
            aquarium exhibits simulate the aesthetics, features and functionality of natural habitats. Phenomenal attention to detail in exhibit design and modern construction techniques is
            not just for show – it supports the health and wellbeing of the animals</p>
        </div>
        <div class="dat">
          <div class="row">
            <div class="col-6">
              <div class="video">
                <img src="assets/images/imperial-anglefish-closeup-in-saltwater-aquarium-e1628655205910.jpg"alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="Tempo">
                <div class="check-lg">
                  <ul>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Photos with Animals</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Restaurants & Fast Foods</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Free Wi-Fi with Hi Speed</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Many Competitions</span>
                    </li>
                    <li>
                      <i class="bi bi-check-lg"></i>
                      <span>Luxury Aquarium</span>
                    </li>
                  </ul>
                </div>
                <div class="read-more ">
                  <button type="submit" >Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="images">
          <img src="assets/images/reaching-the-ocean-e1628655217455.jpg" alt="">
        </div>
        <div class="quetes">
          <h5 class="lorem">“We pride ourselves on being one of the best aquariums in the world”</h5>

          <div class="Teddy-Saunders">
            <h5>Teddy Saunders</h5>
            <h6 class="ceo">CEO & Founde </h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section-e3">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-emoji-smile"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                    <h4>Feed an  Animal</h4>
                    <p>Get up close to some of our most popular animals..</p>
                     <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-cup-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Cafe Scuba</h4>
                  <p>Café Scuba, serving a variety of sandwiches, salads, burgers, pizza, and more, provides a relaxed</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-buildings-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Corporate Discounts</h4>
                  <p>Your organization can benefit from the many discount
                    programs the Aquarium offers your employees or members.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 card-e3">
            <div class="row">
              <div class="col-2">
                <div class="icon">
                  <i class="bi bi-p-circle-fill"></i>
                </div>
              </div>
              <div class="col-10">
                <div class="Design-Install">
                  <h4>Farking</h4>
                  <p>The parking structure for the Aquarium is steps away on
                    the water side of Shoreline Drive between Chestnut Place and Aquarium Way.</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="our-Services">
          <h5>Our Services</h5>
          <div class="ngang-one"></div>
          <h1>We Provide Special Sevices</h1>
          <h6>Aquarium service and maintenance package offered by Aquarium Experts is tailor suited for all of your aquarium and pond needs.

            We work closely with you to ensure all your requirements are met by liaising with architects, designers and contractors.</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-e4">
  <div class="over-lay"></div>
  <div class="container">
    <div class="Aquavist-Experiences">
      <h5>Aquavist Experiences</h5>
      <div class="ngang-true"></div>
      <h1>Our Skills & Experience</h1>
      <div class="row">
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div><h6>Completed Project </h6></div>
              <div><p>99%</p></div>
            </div>
            <div class="dat1"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Consultation</h6></div>
              <div><p>85%</p></div>
            </div>
            <div class="dat2"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Design & Installation</h6></div>
              <div><p>92%</p></div>
            </div>
            <div class="dat3"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Aquarium Supply</h6></div>
              <div><p>95%</p></div>
            </div>
            <div class="dat4"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Health Services</h6></div>
              <div><p>89%</p></div>
            </div>
            <div class="dat5"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="Completed-Project">
            <div class="dung">
              <div> <h6> Professional Team</h6></div>
              <div><p>80%</p></div>
            </div>
            <div class="dat6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-e5">
    <div class="container">
      <div class="row">
        <div class="col-4 card-e4">
          <div class="Sips-Unde">
            <h4>  Sips Under The Sea</h4>
            <h6>Sept 14, 2016</h6>
            <div class="the-sea">
              <p> Sips Under the Sea is a unique, themed cocktail party exclusively for adults 21 and older. This after-hours event features popular cocktails, dining options</p>
            </div>
            <div class="read-more-true">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="Aqua-Vino">
            <h4>Aqua Vino</h4>
            <h6 class="Oct"> 19 Oct, 2019</h6>
            <div class="the-sea-one">
              <p>We've opened up a new location at The Orchard in New Hartford
                We are so excited to bring you the same elegant experience and great food you love in a newly renovated space.....</p>
            </div>
            <div class="read-more-thuer">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
        <div class="col-4 card-e4">
          <div class="Sips-Unde">
            <h4> Atlanta Pride</h4>
            <h6 class="Sept">27 Nov, 2020</h6>
            <div class="the-sea">
              <p>The Atlanta Pride Committee releases their statement on Georgia's Anti-Trans Legislation and Efforts of Trans Erasure.....</p>
            </div>
            <div class="read-more-true">
              <h6>Read More</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-e6">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="Pricing-Plan">
          <h6>Pricing & Plan</h6>
          <div class="ngang"></div>
          <h1>Our Pricing</h1>
          <h6 class="Pricing">
            We are free for children under one meter two (or under 12 years old)</h6>
          <div class="all">
            <button type="submit">All Pricing</button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="family">
              <h4>Family</h4>
              <div class="visit">
                <h1>$60</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p">* Including tax & aquavist insurance.</p>
            </div>
          </div>
          <div class="col-6 ">
            <div class="family-one">
              <h4>Family</h4>
              <div class="visit">
                <h1>$20</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now-one">
                <button type="submit">Purchase Now</button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right-one">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p-one">* Including tax & aquavist insurance.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-e7">
  <div class="row">
    <div class="col-5">
      <div class="over-lay-one"></div>
      <div class="main-event">
        <h5>Main Event</h5>
        <div class="ngang"></div>
        <h1>Floral Coral</h1>
        <div class="Floral-Coral">
          <h6>Sweat it out this summer with an immersive workout experience. Barre by the Water is a full-body workout that transforms you physically and mentally. This musically driven group class focuses on low-impact, high-intensity movements that strengthen and tone your body.
            <br> <br>

            This class will be held in the Ocean Voyager exhibit which has up-close views of whale sharks, manta rays and our famous green sea turtle. Pure Barre instructors teach to all experience levels, so if you’re new to barre this is a great place to start.
            <br> <br>

            Support from Pure Barre: Inman Park, Druid Hills, Westside, Brookhaven, Buckhead, Chastain and Vinings. <br>

            Hurry, space is limited! Tickets include a 60-minute class and complimentary parking. Doors open at 6:00pm; class begins at 6:30pm.
          </h6>
        </div>
        <h4>17 August 2021</h4>
        <p>Independence Event</p>
        <div class="book-now">
          <button type="submit">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="Aquavist-Events">
        <h5>Aquavist Events</h5>
        <div class="ngang"></div>
        <h1>Upcoming Events At Aquavist Aquarium</h1>
        <div class="row">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/aquarium-tank-1-e1628655247905.jpg">
            </div>

          </div>
          <div class="col-8 card-e5">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out">
                  <a routerLink="#"> Sold out</a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row card-e6">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/neon-organisms-in-lyon-aquarium-underwater-photo-e1628655259598.jpg">
            </div>
          </div>
          <div class="col-8">
            <div class="row card-e7">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Fun Aquarium</h5>
                  <h6>26 Sept, 2021</h6>
                  <h5 >$27/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="row card-e8">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-1-e1628655272345.jpg">
            </div>
          </div>
          <div class="col-8 card-e7">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Water Splash</h5>
                  <h6>30 Oct, 2021</h6>
                  <h5 >$35/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-e8">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="Client-Inquries">
          <h6>Client Inquries</h6>
          <div class="ngang"></div>
          <h1>Related Questions</h1>
          <p>EVERYTHING YOU NEED TO KNOW</p>
          <div>
            <div (clickOutside)="clickedOutside1()">
              <button class="menu-toggler"  (click)="toggleMenu1()">
                <i class="bi bi-plus-lg"></i> <span>What are your opening hours?</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened1">
                <p>OPEN TODAY 9AM - 9PM</p>
              </div>
            </div>
            <div  (clickOutside)="clickedOutside2()">
              <button class="menu-toggler"  (click)="toggleMenu2()">
                <i class="bi bi-plus-lg"></i><span>Need to Know</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened2">
                <p>Food & Drink policy:
                  No outside food or beverages are permitted in the aquarium with the exception of small snacks for children or visitors with food allergies.  The aquarium has several water bottle filling stations,
                  we encourage you to bring a refillable water bottle for your visit.</p>
              </div>
            </div>
            <div (clickOutside)="clickedOutside3()" >
              <button class="menu-toggler" (click)="toggleMenu3()"> <i class="bi bi-plus-lg"></i>
                <span>Before You Arrive</span>
              </button>
              <div class="menu" *ngIf="isMenuOpened3">
                <p>Hours of operation vary daily; please check our calendar before your visit.
                  Purchase tickets online to save money. Choose the date and time of your arrival,
                  and arrive within an hour of your selected time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="images-true">
        </div>
      </div>
    </div>
  </div>
</section>


