<section class="section mb-5" >

  <img [src]="blogs.img_bg" alt="">
  <div class="over-lay"></div>
  <div class="head">
    <h3>{{blogs.title}}</h3>
    <div class="nav">
      <p>Home</p>
      <i class="bi bi-chevron-double-right"></i>
      <p>Blog</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container-blog">
    <div>
      <img [src]="blogs.img_content" alt="">
    </div>
    <div class="content my-3">
      <p>{{blogs.description}}</p>
      <h6>{{blogs.author}}</h6>
    </div>
  </div>
</section>
