<section class="section-e1">
  <div class="Gallery">
    <div class="over-lay"></div>
    <div class="container">
      <div class="home">
        <h1>Gallery</h1>
        <div class="ngang"></div>
        <h6>Home <i class="bi bi-chevron-double-right"></i>  Gallery</h6>
        <div class="title">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-e2">
  <div class="row">
    <div class="col-6 ">
      <div class="Nature-Aquarium">
        <h6>Nature Aquarium</h6>
        <div class="ngang"></div>
        <h1>Coral World</h1>
        <p>Eliminate the “bored” room with unique meeting spaces at Georgia Aquarium. With private windows into our Ocean Voyager and Cold Water Quest galleries, the living environment inspires creativity and cultivates collaboration. Consider us your “on-stop shop,” we are on your team and happy to help! Enhancements such as hands-on culinary activities, educational interactions and team building opportunities are available.

          Located in downtown Atlanta GA, Georgia Aquarium offers a number of unique corporate meeting spaces with up to 23,000+ square feet of flexible space.</p>
        <div class="Gianyar">
          <h4>$42/Visit</h4>
          <p>Gianyar, Bali</p>
        </div>
        <div class="read-more">

          <a routerLink="/event">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-6 ">
      <div class="img1">
        <img src="../../assets/images/atlantis-jelly-fish-e1628655408645.jpg">
      </div>
    </div>


    <div class="col-6 ">
      <div class="img1">
        <img src="../../assets/images/clown-fish-swimming-in-the-corals--e1628655422141.jpg"style="height: 578.7px;">
      </div>
    </div>


    <div class="col-6 ">
      <div class="Nature-Aquarium">
        <h6>Exscape Aquarium</h6>
        <div class="ngang"></div>
        <h1>Plankton World</h1>
        <p>Unwind and relax with a unique sound bath experience led by a healing practitioner and Reiki Master from SND Bath. This journey of sound incorporates angelic healing sounds which radiate from quartz crystal bowls tuned to your body’s energy system. The process works to move energetic blockages, reduce stress, and promote healing in the body.
        </p>
        <div class="Gianyar">
          <h4>$31/Visit</h4>
          <p>Badung, Bali</p>
        </div>
        <div class="read-more">
          <a routerLink="/event">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="Nature-Aquarium">
        <h6>Visit Aquarium</h6>
        <div class="ngang"></div>
        <h1>Relief Wall</h1>
        <p>Join us for a one-of-a-kind experience led by the certified breathwork facilitator from A Breath of Sage. This meditative art form uses a circular breathwork pattern to relieve stress and remove emotional blocks. Participants often experience a wave of relief and euphoria during and after the session. Enjoy this while taking in the ocean views that include whale sharks, manta rays, and so much more.

          Get tickets now, space is limited! Tickets are $25 per person and include a 60-minute class and complimentary parking in Georgia Aquarium’s parking garage. Doors open at 6:00 pm; class begins at 6:30 pm. </p>
        <div class="Gianyar">
          <h4>$22/Visit</h4>
          <p>Denpasar, Bali</p>
        </div>
        <div class="read-more">

          <a routerLink="/event">Read more</a>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="img1">
        <img src="../../assets/images/dat1.jpg"style="height: 578.7px">
      </div>
    </div>
  </div>
</section>
<section class="section-e3">
  <div class="row">
  </div>
</section>
<section class="section home-e7">
  <div class="container-fuild" #mouseTarget>
    <div class="row ">
      <div class="col-3 " (mouseenter)="ChangerImages1(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Hygrophila Difformis</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages2(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Mastigias Aquarium</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages3(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Java Moss</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages4(mouseTarget)">
        <div class="bg-w"></div>
        <h3>Anubias Nana</h3>
      </div>
    </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
    <div class="testimonial">
      <ul>
        <li><h6>Testimonial</h6></li>
        <li><div class="line"></div></li>
        <li><h1>Some Quotes From Our Clients</h1></li>
      </ul>
    </div>
  </div>
</section>
<section class="section gallery-e8">
  <div class="container ">
    <div class="row">
      <div class="col-3">
        <img src="../../assets/images/colorful-fish-background-minimal-art-e1628654909970.jpg" alt="#">
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“Our kids are really excited to visit Seattle Aquarium, to see firsthand the world of creatures under the ocean.
              A place not to be missed when the little ones visit Seattle.”</p></li>
            <li><h5>Rita Eland</h5></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-e1628654803499.jpg" alt="#">
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“Hubby likes fur seals and lionfish. I like the octopus and anemone.
              We got it right in almost no wait. It was a sunny Saturday. Staff very friendly. Good experience”</p></li>
            <li><h5>Cheryl Butler</h5></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“Visit the Seattle Aquarium with our City Pass.
              Timed tickets are very easy to obtain (still required in December 2022) through
              the Aquarium with City Pass website. ”<</p></li>
            <li><h5>Kayla Wheatly</h5></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/sea-turtle-in-a-marine-aquarium-in-sarasota-florida--e1628654924573.jpg" alt="">
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“This is a nice little aquarium, you can see it all in about an hour.
              The jellyfish arch is very cool, so is the octopus. My favorite is sea otters though,
              they are bigger than what we see in Alaska. ”</p></li>
            <li><h5>Ted Ortega</h5></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/tropical-fishes-meet-in-blue-coral-reef-sea-water-aquarium-unde-e1628654892726.jpg" alt="">
      </div>
      <div class="col-3">
        <img src="../../assets/images/underwater-world-fish-aquarium-e1628654944594.jpg" alt="#">
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“What a wonderful fish tank. I don't usually like any aquarium but
              as we passed through the city we called the kids to visit if they liked it.”</p></li>
            <li><h5>Glen Bennett</h5></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <img src="../../assets/images/aquarium-coral-e1628654973785.jpg" alt="#">
      </div>
      <div class="col-3">
        <div class="comment">
          <ul>
            <li><p>“Nice aquarium but a bit overrated. Entering the facility is easy and fast,
              especially with timed entry. The tank/display area at the entrance is perhaps .”</p></li>
            <li><h5>Unity Norris</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section mg-top">
  <div class="container">
    <div class="bg-img">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="slider-respond">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>
                          “Our kids are really excited to visit Seattle Aquarium, to see firsthand the world of creatures under the ocean. A place not to be missed when the little ones visit Seattle.”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/indoor-shot-of-attractive-european-schoolgirl-has-LEUUQRK.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Lola Bailey</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Hubby likes fur seals and lionfish. I like the octopus and anemone. We got it right in almost no wait. It was a sunny Saturday. Staff very friendly. Good experience”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/pleased-cheerful-redhaired-male-with-pleasant-smil-CCXAYZL.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Dominic Pelletier</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Hubby likes fur seals and lionfish. I like the octopus and anemone. We got it right in almost no wait. It was a sunny Saturday. Staff very friendly. Good experience”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/portrait-of-good-looking-brunette-woman-smiles-too-UCETKXG.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Abbie Carter</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <i style="color:black" class="bi bi-chevron-left"></i>
                <span class="visually-hidden ">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <i style="color:black"  class="bi bi-chevron-right"></i>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
