<header class="section header ">
  <div class="container ">
    <div class="row ">
      <div class="col-6">
        <ul class="nav">
          <li><i class="bi bi-geo-alt-fill"></i></li>
          <li><p> Legian Atkins West, DPS 11490, Bali</p></li>
          <li><span><i class="bi bi-envelope-fill"></i></span></li>
          <li><p>aquavist@support.com</p></li>
        </ul>
      </div>
        <div  class="col-6 hright  ">
          <ul  class="nav ">
            <li ><a href="#">Facebook</a></li>
            <li><span><a href="#">Twitter</a></span></li>
            <li ><span><a href="#">Linkedin</a> </span></li>
            <li ><span><a href="#">Instagram</a></span></li>
          </ul>
        </div>
    </div>
  </div>
  <section class="section my-2">
    <div class="container">
      <div class="row hleft  ">
        <div class="col-3 ">
          <img src="../assets/images/logo3-Q2SAW4M-e1628655153433.png" alt="">
        </div>
        <div class="col-9 hright categories">
          <ul class="nav">
            <li><a routerLink="/">Home</a></li>
            <li><a  routerLink="/about" > About</a></li>
            <li><a routerLink="/services">Servies</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
            <li ngbDropdown class="nav-column" >
              <a href="#"> Animal</a>
              <i  class="bi bi-chevron-down py-5"></i>
              <ul  ngbDropdownMenu class="nav-item">
                <li ngbDropdownItem><a routerLink="/animal" >All Animal</a></li>
                <li ngbDropdownItem><a routerLink="/animal-singe/1">African Penguin</a></li>
                <li ngbDropdownItem><a routerLink="/animal-singe/2">Beluga Whale</a></li>
                <li ngbDropdownItem><a routerLink="/animal-singe/3">California Sea Lion</a></li>
                <li ngbDropdownItem><a routerLink="/animal-singe/5">Tiger Shark</a></li>
              </ul>
            </li>
            <li ngbDropdown class="nav-column" >
              <a routerLink="/event" > Events</a>
            </li>
            <li ngbDropdown class="nav-column">
              <a routerLink="/blog">Blog</a>
            </li>
            <li><a routerLink="/Contact" >Contact</a></li>
            <li><i class="bi bi-telephone" style="color: #19cbe4"></i>+021 441 9858</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
<router-outlet></router-outlet>
<section class="section">
  <div class="container-fluid">
    <div class="row f-img">
      <div class="col-2">
        <img src="../assets/images/tropical-fish-e1628654856592.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-2">
        <img src="../assets/images/clown-fish-e1628655075684.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-2">
        <img src="../assets/images/majestic-blue-girdled-angel-e1628655086136.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-2">
        <img src="../assets/images/spotted-jellyfish-e1628655100406.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-2">
        <img src="../assets/images/common-newt-amhibian-in-freshwater-habitat-e1628655110206.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-2">
        <img src="../assets/images/an-extra-ordinary-kind-of-fish-e1628655121470.jpg" alt="">
        <div class="over-lay ">
          <div class="i-con">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="section footer ">
<div class="container ">
    <div class="row py-5">
      <div class="col-3">
        <div class="row info">
          <div class="col-3 f-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="col-9 location ">
            <h5> Location</h5>
            <span>Legian Atkins West,  DPS 11490,  Bali</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row info">
          <div class="col-3 f-icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="col-9 location ">
            <h5> Phone</h5>
            <span>+62-202-555-0133</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row info">
          <div class="col-3 f-icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="col-9 location ">
            <h5>Email</h5>
            <span>aquavist@support.com</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row info">
          <div class="col-3 f-icon">
            <i class="bi bi-clock-fill"></i>
          </div>
          <div class="col-9 location ">
            <h5>Opening Hours</h5>
            <span>Everyday 09:00 AM - 18:00 PM</span>
          </div>
        </div>
      </div>
    </div>
  <section class="section my-5">
    <div class="container br-top  ">
      <div class="row ">
        <div class="col-3 el-1">
          <div>
            <img src="../assets/images/logo3-Q2SAW4M-e1628655153433.png" alt="">
          </div>
          <div class="py-3">
            <p>"We had an incredibly good time here. Excellent exhibits that are engaging and educational.”</p>
          </div>
          <div>
            <ul class=" nav i-media">
              <li><i class="bi bi-facebook"></i></li>
              <li><i class="bi bi-twitter"></i></li>
              <li><i class="bi bi-youtube"></i></li>
              <li><i class="bi bi-instagram"></i></li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <div class="li-link ">
            <h5>Imortant Links</h5>
            <ul >
              <li><a routerLink="/Contact">Support</a></li>
              <li><a routerLink="/FAQ">FAQ</a></li>
              <li><a routerLink="/FAQ">Privacy Policy</a></li>
              <li><a routerLink="/FAQ">Term & Condition</a></li>
              <li><a routerLink="/FAQ">Disclaimer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <div class="li-link">
            <h5>Get To Know</h5>
            <ul >
              <li><a routerLink="/services">Maintenance</a></li>
              <li><a routerLink="/services">Cleaning Services</a></li>
              <li><a routerLink="/services">Aquarium Design</a></li>
              <li><a routerLink="/services">Aquarium Supplies</a></li>
              <li><a routerLink="/services">Health Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-3 subscribe  ">
          <div >
            <h5>Subscribe Our Newsletter</h5>
            <p>Happy employees, happy customers. At least, that's what they say.</p>
          </div>
          <form #userForm="ngForm" [formGroup]="infoUser" (ngSubmit)="onSubmit(userForm.value)" >
          <div class="row mess py-3">
            <div class="col-9">
              <input type="email"  id="control-email" formControlName="email" placeholder="Your email">
            </div>
            <div class="col-3 i-mess">
              <button type="submit"  [disabled]="!infoUser.valid">
                  <i class="bi bi-telegram"></i>
              </button>
            </div>
          </div>
            <div *ngIf="f.email.invalid&&(f.email.dirty||f.email.touched)">
              <div *ngIf="f.email.errors" class="errors">
                <div *ngIf="f.email.errors?.['required']">
                  <p>Email cannot be empty</p>
                </div>
                <div *ngIf="f.email.errors?.['email']">
                  <p>Email format is incorrect</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
  <section class="section ">
    <div class="container br-top ">
      <div class="row end-footer">
        <div class="col-6"><p>Aquavist Template Kit by Jegtheme</p></div>
        <div class="col-6"><p>Copyright © 2021. All rights reserved.</p></div>
      </div>
    </div>
  </section>
</footer>

