<section class="section ">
  <div class="slider">
    <div class="over-lay"></div>
      <div class="container title">
        <h1>Services</h1>
        <div class="line my-3"></div>
        <div>
          <ul class="nav">
            <li>Home</li>
            <li> <i class="bi bi-chevron-double-right"></i></li>
            <li>Services</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <div class="row " >
          <div class="col-6 el-1">
            <ul>
              <li><i class="bi bi-heart-pulse"></i></li>
              <li><h5>Design & Install</h5></li>
              <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 el-2 ">
            <ul>
              <li><i class="bi bi-heart-pulse"></i></li>
              <li><h5>Design & Install</h5></li>
              <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content">
          <ul>
            <li><h5>Our Services</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Provide Special <br> Sevices</h1></li>
            <li>
              <button type="sumbit">All Services</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section  ">
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-6 services-full services ">
        <div>
          <ul>
            <li><h5>What We Do</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Make An Aquarium That Spoils The Eyes</h1></li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo enim ad minim veniam, quis nostrud exercitation.</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-6 content-services py-5 ">
            <ul>
              <li><i class="bi bi-circle"></i></li>
              <li><h1>Project Completed</h1></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed vel ipsum auctor, iaculis arcu quis.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 content-services py-5">
            <ul>
              <li><i class="bi bi-circle"></i></li>
              <li><h1>Project Completed</h1></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed vel ipsum auctor, iaculis arcu quis.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 services-img ">
        <div class="bg-img-1">

        </div>
        <img src="../../assets/images/different-tropical-fish-on-a-coral-reef-in-the-red-sea-e1628654765211.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="testimonial">
        <ul>
          <li><h6>Testimonial</h6></li>
          <li><div class="line"></div></li>
          <li><h1>Some Quotes From Our Clients</h1></li>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam dolore aliqua.</p></li>
        </ul>
      </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6 comment-img">
              <img src="../../assets/images/colorful-fish-background-minimal-art-e1628654909970.jpg" alt="#">
            </div>
            <div class="col-6">
              <div class="comment">
                <ul>
                  <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                    sed do eius mod tempor incididunt labore magna.”</p></li>
                  <li><h5>Rita Eland</h5></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img">
            <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-e1628654803499.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container  comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/sea-turtle-in-a-marine-aquarium-in-sarasota-florida--e1628654924573.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/tropical-fishes-meet-in-blue-coral-reef-sea-water-aquarium-unde-e1628654892726.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/underwater-world-fish-aquarium-e1628654944594.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/aquarium-coral-e1628654973785.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section mg-top">
  <div class="container">
    <div class="bg-img">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="slider-respond">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/indoor-shot-of-attractive-european-schoolgirl-has-LEUUQRK.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Lola Bailey</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/pleased-cheerful-redhaired-male-with-pleasant-smil-CCXAYZL.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Dominic Pelletier</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/portrait-of-good-looking-brunette-woman-smiles-too-UCETKXG.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Abbie Carter</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-black " aria-hidden="true"></span>
                <span class="visually-hidden ">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
