<section class="section ">
  <div class="slider">
    <div class="over-lay"></div>
      <div class="container title">
        <h1>Services</h1>
        <div class="line my-3"></div>
        <div>
          <ul class="nav">
            <li>Home</li>
            <li> <i class="bi bi-chevron-double-right"></i></li>
            <li>Services</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <div class="row " >
          <div class="col-6 el-1">
            <ul>
              <li><i class="bi bi-google-play"></i><</li>
              <li><h5>Victor APP</h5></li>
              <li><p>Make the most out of your visit to the Aquarium of the Pacific</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 el-2 ">
            <ul>
              <li><i class="bi bi-binoculars"></i></li>
              <li><h5>Animal Encounters</h5></li>
              <li><p>Get a closeup view of some of our most popular animals.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content">
          <ul>
            <li><h5>Our Services</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Provide Special <br> Sevices</h1></li>
            <li>
              <button type="sumbit">All Services</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-emoji-smile"></i></li>
          <li><h5>Feed an  Animal</h5></li>
          <li><p>Get up close to some of our most popular animals.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-cup-fill"></i></li>
          <li><h5>Cafe Scuba</h5></li>
          <li><p>Café Scuba, serving a variety of sandwiches, salads, burgers, pizza, and more, provides a relaxed</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-buildings-fill"></i></li>
          <li><h5>Corporate Discounts</h5></li>
          <li><p>Your organization can benefit from the many discount
            programs the Aquarium offers your employees or members.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-p-circle-fill"></i></li>
          <li><h5>Farking</h5></li>
          <li><p>The parking structure for the Aquarium is steps away on
            the water side of Shoreline Drive between Chestnut Place and Aquarium Way.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section  ">
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-6 services-full services ">
        <div>
          <ul>
            <li><h5>What We Do</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Make An Aquarium That Spoils The Eyes</h1></li>
            <li>In order that our guests with disabilities may enjoy the aquarium to the fullest,
              aquarium staff members will be made available to hold/walk or kennel the service
              animal while other aquarium staff accompany the guest through the exhibit.</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-6 content-services py-5 ">
            <ul>
              <div class="circle_box">
                <div>
                  <svg>
                    <circle cx="70" cy="70" r="70"  id="above-top"/>
                  </svg>
                  <span>98%</span>
                </div>
              </div>
              <li><h1>Infrastructur</h1></li>
              <li><p>Infrastructure such as aquariums, shops, .....</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 content-services py-5">
            <ul>
              <div class="circle_box">
                <div>
                  <svg>
                    <circle cx="70" cy="70" r="70"  class="above-under"/>
                  </svg>
                  <span>86%</span>
                </div>
              </div>
              <li><h1>Customer care</h1></li>
              <li><p>Happy employees, happy customers. At least, that's what they say..</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 services-img ">
        <div class="bg-img-1">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
      <div class="testimonial">
        <ul>
          <li><h6>Testimonial</h6></li>
          <li><div class="line"></div></li>
          <li><h1>Some Quotes From Our Clients</h1></li>

        </ul>
      </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img">
            <img src="../../assets/images/colorful-fish-background-minimal-art-e1628654909970.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment">
              <ul>
                <li><p>“Our kids are really excited to visit Seattle Aquarium, to see firsthand the world of creatures under the ocean.
                  A place not to be missed when the little ones visit Seattle.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img">
            <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-e1628654803499.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment">
              <ul>
                <li><p>“Hubby likes fur seals and lionfish. I like the octopus and anemone.
                  We got it right in almost no wait. It was a sunny Saturday. Staff very friendly. Good experience”</p></li>
                <li><h5>Cheryl Butler</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container  comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“Visit the Seattle Aquarium with our City Pass.
                  Timed tickets are very easy to obtain (still required in December 2022) through
                  the Aquarium with City Pass website. ”</p></li>
                <li><h5>Kayla Wheatly</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/sea-turtle-in-a-marine-aquarium-in-sarasota-florida--e1628654924573.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“This is a nice little aquarium, you can see it all in about an hour.
                  The jellyfish arch is very cool, so is the octopus. My favorite is sea otters though,
                  they are bigger than what we see in Alaska. ”</p></li>
                <li><h5>Ted Ortega</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/tropical-fishes-meet-in-blue-coral-reef-sea-water-aquarium-unde-e1628654892726.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/underwater-world-fish-aquarium-e1628654944594.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“What a wonderful fish tank. I don't usually like any aquarium but
                  as we passed through the city we called the kids to visit if they liked it.”</p></li>
                <li><h5>Glen Bennett</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/aquarium-coral-e1628654973785.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“Nice aquarium but a bit overrated. Entering the facility is easy and fast,
                  especially with timed entry. The tank/display area at the entrance is perhaps the most impressive of all the displays on the facility.
                  Then the display and tank were outdated and a bit poor.”</p></li>
                <li><h5>Unity Norris</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section mg-top">
  <div class="container">
    <div class="bg-img">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="slider-respond">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>“What a wonderful fish tank. I don't usually like any aquarium but
                          as we passed through the city we called the kids to visit if they liked it.”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/indoor-shot-of-attractive-european-schoolgirl-has-LEUUQRK.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Lola Bailey</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>“Nice aquarium but a bit overrated. Entering the facility is easy and fast,
                          especially with timed entry. The tank/display area at the entrance is perhaps the most impressive of all the displays on the facility.
                          Then the display and tank were outdated and a bit poor.”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/pleased-cheerful-redhaired-male-with-pleasant-smil-CCXAYZL.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Dominic Pelletier</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>“Visit the Seattle Aquarium with our City Pass.
                          Timed tickets are very easy to obtain (still required in December 2022) through
                          the Aquarium with City Pass website. ”</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/portrait-of-good-looking-brunette-woman-smiles-too-UCETKXG.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Abbie Carter</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <i style="color:black" class="bi bi-chevron-left"></i>
                <span class="visually-hidden ">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <i style="color:black"  class="bi bi-chevron-right"></i>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
