<section class="section event">
  <div class="over-lay"></div>
  <div class=" container">
    <div class=" head">
      <h1>Event</h1>
      <div class="line"></div>
      <a> home</a><i class="bi bi-chevron-double-right"></i><a> Event</a>
    </div>
  </div>
</section>
<section class="section event-e2">
  <div class="container">
    <div class="event-body">
      <p> Our Event</p>
      <div class="line"></div>
      <h1>Come For Very Interesting Events</h1>
      <p> Aquarium Event Calendar <br> </p>
    </div>
  </div>
</section>
<section class="section event-e3">
  <div class="container">
    <div class="row">
      <div *ngFor="let e of events" class="col-4 mb-5  ">
        <div class="img7">
          <img [src]="e.images" alt="">
          <div class="overlay"></div>
          <div class="title">
            <h3>{{e.name}}</h3>
            <p>{{e.description.slice( 1, 100)}}</p>
            <a routerLink="/event-single/{{e.id}}">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset1-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset2-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset3-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset4-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset5-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset6-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset7-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset8-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset9-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset10-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset11-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-2 slider-categories">-->
<!--        <ul>-->
<!--          <li><img src="../../assets/images/asset12-T6M9WU6.png" alt=""></li>-->
<!--          <li><h5>Pike Fish</h5></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<section class="section-e7 py-5">
  <div class="row">
    <div class="col-5">
      <div class="over-lay-one"></div>
      <div class="main-event">
        <h5>Main Event</h5>
        <div class="ngang"></div>
        <h1>Floral Coral</h1>
        <div class="Floral-Coral">
          <h6>Sweat it out this summer with an immersive workout experience. Barre by the Water is a full-body workout that transforms you physically and mentally. This musically driven group class focuses on low-impact, high-intensity movements that strengthen and tone your body.
            <br> <br>

            This class will be held in the Ocean Voyager exhibit which has up-close views of whale sharks, manta rays and our famous green sea turtle. Pure Barre instructors teach to all experience levels, so if you’re new to barre this is a great place to start.
            <br> <br>

            Support from Pure Barre: Inman Park, Druid Hills, Westside, Brookhaven, Buckhead, Chastain and Vinings. <br>

            Hurry, space is limited! Tickets include a 60-minute class and complimentary parking. Doors open at 6:00pm; class begins at 6:30pm.
          </h6>
        </div>
        <h4>17 August 2021</h4>
        <p>Independence Event</p>
        <div class="sold-out-one my-5">
          <a routerLink="/ticket"> Book now</a>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="Aquavist-Events">
        <h5>Aquavist Events</h5>
        <div class="ngang"></div>
        <h1>Upcoming Events At Aquavist Aquarium</h1>
        <div class="row">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/aquarium-tank-1-e1628655247905.jpg">
            </div>
          </div>
          <div class="col-8 card-e5">
            <div class="row ">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Pacific Ocean</h5>
                  <h6>29 Aug, 2021</h6>
                  <h5 >$32/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out">
                  <a routerLink="/ticket"> Sold out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card-e6">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/neon-organisms-in-lyon-aquarium-underwater-photo-e1628655259598.jpg">
            </div>
          </div>
          <div class="col-8">
            <div class="row card-e7">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Fun Aquarium</h5>
                  <h6>26 Sept, 2021</h6>
                  <h5 >$27/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="row card-e8">
          <div class="col-4">
            <div class="img-thur">
              <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-1-e1628655272345.jpg">
            </div>
          </div>
          <div class="col-8 ">
            <div class="row card-e7">
              <div class="col-6">
                <div class="Pacific-Ocean">
                  <h5>Water Splash</h5>
                  <h6>30 Oct, 2021</h6>
                  <h5 >$35/Ticket</h5>
                </div>
              </div>
              <div class="col-6">
                <div class="sold-out-one">
                  <a routerLink="/ticket"> Book now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-e6">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="Pricing-Plan">
          <h6>Pricing & Plan</h6>
          <div class="ngang"></div>
          <h1>Our Pricing</h1>
          <h6 class="Pricing">We are free for children under one meter two (or under 12 years old) </h6>
          <div class="all">
            <button type="submit"><a routerLink="/ticket">All Pricing</a></button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="family">
              <h4>Family</h4>
              <div class="visit">
                <h1>$60</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now all-1">
                <button type="submit"><a routerLink="/ticket">All Pricing</a></button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span></span>4 Family Members
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p">* Including tax & aquavist insurance.</p>
            </div>
          </div>
          <div class="col-6 ">
            <div class="family-one">
              <h4>Personal</h4>
              <div class="visit">
                <h1>$20</h1>
                <p>/visit</p>
              </div>
              <div class="purchase-now-one all">
                <button type="submit"><a routerLink="/ticket">All Pricing</a></button>
              </div>
              <div class="lein"></div>
              <div class="Chevron-double-right-one">
                <ul>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>4 Family Members</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Photos With Fishes</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Free Wi-Fi</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Access Luxury Aquarium</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>Insurance Goods</span>
                  </li>
                </ul>
              </div>
              <p class="p-one">* Including tax & aquavist insurance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
