<section class="slider">
  <div class="over-lay"></div>
  <div class="container title">
    <ul>
      <li><h5>Amazing Aquarium</h5></li>
      <li><div class="line"></div></li>
      <li><h1>The Most Beautiful <br> Aquarium In The World</h1></li>
      <li><p>Suspendisse in magna in elit hendrerit condimentum. Phasellus eu justo mi.
        Proin <br> aliquet, mauris a volutpat lobortis,
        erat libero condimentum metus, eu tincidunt <br> felis ligula in turpis.</p></li>
    </ul>
    <div class="nav  ">
      <div class="Started">
        <div>
          <a href="#"> Get Started</a>
        </div>
      </div>
      <div class="Read "><a href="#"> Read More</a></div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container-fluid">
      <div class="row ">
        <div class="col-5"></div>
        <div class="col-7">
          <div class="row slider-under ">
            <div class="col-4 content">
              <ul>
                <li><h5>Aquarium <br> Design</h5></li>
                <li><p>Lorem ipsum dolor sit <br> amet deliar consectetur <br> adipiscing.</p></li>
                <li><a href="#">Learn More</a></li>
              </ul>
            </div>
            <div class="col-4 content">
              <ul>
                <li><h5>Aquarium <br> Design</h5></li>
                <li><p>Lorem ipsum dolor sit <br> amet deliar consectetur <br> adipiscing.</p></li>
                <li><a href="#">Learn More</a></li>
              </ul>
            </div>
            <div class="col-4 content-img">
              <img src="../../assets/images/jellyfish-under-water-minimal-art-e1628654637349.jpg" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section my-5 ">
  <div class="container">
    <div class="row">
      <div class="col-6 about-img">
        <img src="../../assets/images/aquarium-e1628654647969.jpg" alt="#">
        <div class="i-play">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <div class=" play-content">
          <ul class="nav">
            <li><h1>2.820</h1></li>
            <li><i class="bi bi-plus"></i></li>
          </ul>
          <p>Satisfied Clients</p>
        </div>
      </div>
      <div class="col-6 about-content ">
        <ul>
          <li><h5>About Aquavist</h5></li>
          <li><div class="line"></div></li>
          <li><h1>We Are The Most Complete Aquarium</h1></li>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p></li>
        </ul>
        <div class="row">
          <div class="col-6 under-content ">
            <ul>
              <li><i class="bi bi-truck"></i></li>
              <li><h5>Local Source</h5></li>
              <li><p>Lorem ipsum dolor sit amet sed consect adipiscing elit sed do eiusmod tempor incididunt.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
            <div class="row">
              <div class="col-3 img-sign">
                <img src="../../assets/images/bearded-male-hunter-tries-on-hat-in-gun-store-e1628080948327-300x300.jpg" alt="">
              </div>
              <div class="col-9 content-sign">
                <img src="../../assets/images/harris-sgntr-800x246.png" alt="">
                <ul>
                  <li><h5>Teddy Saunders</h5></li>
                  <li><h6>CEO & Founder</h6></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 under-content ">
            <ul>
              <li><i class="bi bi-truck"></i></li>
              <li><h5>Local Source</h5></li>
              <li><p>Lorem ipsum dolor sit amet sed consect adipiscing elit sed do eiusmod tempor incididunt.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset1-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset2-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset3-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset4-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset5-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset6-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset7-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset8-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset9-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset10-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset11-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
      <div class="col-2 slider-categories">
        <ul>
          <li><img src="../../assets/images/asset12-T6M9WU6.png" alt=""></li>
          <li><h5>Pike Fish</h5></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section py-5  ">
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-6 services-full services ">
        <div>
          <ul>
            <li><h5>What We Do</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Make An Aquarium That Spoils The Eyes</h1></li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo enim ad minim veniam, quis nostrud exercitation.</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-6 content-services py-5 ">
            <ul>
              <li><i class="bi bi-circle"></i></li>
              <li><h1>Project Completed</h1></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed vel ipsum auctor, iaculis arcu quis.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 content-services py-5">
            <ul>
              <li><i class="bi bi-circle"></i></li>
              <li><h1>Project Completed</h1></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed vel ipsum auctor, iaculis arcu quis.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 services-img ">
        <div class="bg-img-1">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section my-5">
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <div class="row " >
          <div class="col-6 el-1">
            <ul>
              <li><i class="bi bi-heart-pulse"></i></li>
              <li><h5>Design & Install</h5></li>
              <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
          <div class="col-6 el-2 ">
            <ul>
              <li><i class="bi bi-heart-pulse"></i></li>
              <li><h5>Design & Install</h5></li>
              <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
              <li><a href="#">Read More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content-2">
          <ul>
            <li><h5>Our Services</h5></li>
            <li><div class="line"></div></li>
            <li><h1>We Provide Special <br> Sevices</h1></li>
            <li>
              <button type="sumbit">All Services</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
      <div class="col-3 el-2">
        <ul>
          <li><i class="bi bi-heart-pulse"></i></li>
          <li><h5>Design & Install</h5></li>
          <li><p>Lorem ipsum dolor sit sedar consect adipiscing el sed do eiusmod tempor.</p></li>
          <li><a href="#">Read More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section home-e7">
  <div class="container-fuild" #mouseTarget>
    <div class="row ">
      <div class="col-3 " (mouseenter)="ChangerImages1(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Hygrophila Difformis</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages2(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Hygrophila Difformis</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages3(mouseTarget)">
        <div class="bg-w" ></div>
        <h3>Hygrophila Difformis</h3>
      </div>
      <div class="col-3" (mouseenter)="ChangerImages4(mouseTarget)">
        <div class="bg-w"></div>
        <h3>Hygrophila Difformis</h3>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="testimonial">
      <ul>
        <li><h6>Testimonial</h6></li>
        <li><div class="line"></div></li>
        <li><h1>Some Quotes From Our Clients</h1></li>
        <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam dolore aliqua.</p></li>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img">
            <img src="../../assets/images/colorful-fish-background-minimal-art-e1628654909970.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img">
            <img src="../../assets/images/pomacanthus-navarchus-blue-angel-sea-fish-in-aquarium-e1628654803499.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container  comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/sea-turtle-in-a-marine-aquarium-in-sarasota-florida--e1628654924573.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="comment-2">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
          <div class="col-6 comment-img">
            <img src="../../assets/images/tropical-fishes-meet-in-blue-coral-reef-sea-water-aquarium-unde-e1628654892726.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container comment-full">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/underwater-world-fish-aquarium-e1628654944594.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 comment-img-1">
            <img src="../../assets/images/aquarium-coral-e1628654973785.jpg" alt="#">
          </div>
          <div class="col-6">
            <div class="comment-1">
              <ul>
                <li><p>“Lorem ipsum dolor sit amet, consectetur adip iscing elit.
                  sed do eius mod tempor incididunt labore magna.”</p></li>
                <li><h5>Rita Eland</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section mg-top">
  <div class="container">
    <div class="bg-img">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="slider-respond">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/indoor-shot-of-attractive-european-schoolgirl-has-LEUUQRK.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Lola Bailey</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/pleased-cheerful-redhaired-male-with-pleasant-smil-CCXAYZL.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Dominic Pelletier</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="respond">
                    <div>
                      <ul>
                        <li><p>Lorem ipsum Quibusdam eveniet ut eos rerum incididunt eu aperiam voluptatem ut non
                          provident dolor dolorum ut et quod voluptatibus quas tempor reiciendis veniam provident hic
                          veritatis exercitation placeat reiciendis veniam provident veritati.</p></li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-3 respond-img">
                              <img src="../../assets/images/portrait-of-good-looking-brunette-woman-smiles-too-UCETKXG.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-9 profile-name">
                              <ul>
                                <li><h5>Abbie Carter</h5></li>
                                <li><p>Visitors</p></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <i style="color:black" class="bi bi-chevron-left"></i>
                <span class="visually-hidden ">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <i style="color:black"  class="bi bi-chevron-right"></i>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section mg-top">
  <div class="container">
    <div class="row">
      <div class="col-6 new-title">
        <ul>
          <li><h5>Our News</h5></li>
          <li><div class="line"></div></li>
          <li><h1>News & Articles</h1></li>
        </ul>
      </div>
      <div class="col-6  new-title">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
          Ut enim ad minim veniam dolore aliqua tempor incididunt ut labore et dolore magna.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-4 bg-new">
        <img src="../../assets/images/colorful-fish-from-the-spieces-symphysodon-discus-in-aquarium--e1628655050154.jpg" alt="">
          <div class="overlay" >
            <div>
              <a href="#">Saltwater</a>
            </div>
            <div>
              <h1><a href="#">Different Aquariums For Different Ideas</a></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
            </div>
          </div>
      </div>
      <div class="col-4 bg-new">
        <img src="../../assets/images/carp-fish-in-the-aquarium-e1628655039273.jpg" alt="">
        <div class="overlay-2">
          <div class="design">
            <a href="#">Design</a>
          </div>
          <div>
            <h1><a href="#">Freshwater Aquarium Setups & Care</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
          </div>
        </div>
      </div>
      <div class="col-4 table-new">
        <div>
          <h5>Recent News</h5>
          <div class="line"></div>
        </div>
        <div class="recent-news">
          <ul>
            <li>
              <div class="row">
                <div class="col-5">
                  <img src="../../assets/images/salt-water-aquarium-e1628655024510.jpg" alt="#">
                </div>
                <div class="col-7 news">
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div class="nav">
                    <i class="bi bi-calendar"></i><p>August 7, 2021</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-5">
                  <img src="../../assets/images/colorful-sea-fish-in-aquarium-800x533.jpg" alt="#">
                </div>
                <div class="col-7 news">
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div class="nav">
                    <i class="bi bi-calendar"></i><p>August 7, 2021</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-5">
                  <img src="../../assets/images/aquarium-1-800x600.jpg" alt="#">
                </div>
                <div class="col-7 news">
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div class="nav">
                    <i class="bi bi-calendar"></i><p>August 7, 2021</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-5">
                  <img src="../../assets/images/exotic-fish-in-a-collector-s-aquarium-800x533.jpg" alt="#">
                </div>
                <div class="col-7 news">
                  <a href="#">Lifespan Of Freshwater Aquarium Fishes</a>
                  <div class="nav">
                    <i class="bi bi-calendar"></i><p>August 7, 2021</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
